<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cards</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Custom styles for this template -->
  
  </head>

  <body>



    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Volunteer Pickup Cards</h1>
          <p class="lead text-muted">Select a card from where you can easily pickup the food. Then select a shelter home from the list where you will be delivering the food. Also, don't forget to fill this form.</p>
          
        </div>
      </section>
        
        

      <div class="album py-5 bg-light">
        <div class="container">
          
           <div id="accordion">
{% for item in arr %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOne">
          {{item.name}}, {{item.age}}
        </button>
      </h5>
    </div>

    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                {{item.email}}
            </div>
            <div class="col-md-4">
                {{item.contact}}
            </div>
            <div class="col-md-4">
               {{item.address}}
            </div>
            <div class="col-md-4">
                {{item.pincode}}
            </div>
            <div class="col-md-4">
                {{item.institution}}
            </div>
            <div class="col-md-4">
                {{item.ducational_background}}
            </div>
            <div class="col-md-4">
                {{item.contribution_time}}
            </div>
             <div class="col-md-4">
                {{item.contribution_time}}
            </div>
            
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
</div>
</main>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
  </body>

<!-- Mirrored from getbootstrap.com/docs/4.0/examples/album/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Apr 2019 10:41:04 GMT -->
</html>
