<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cards</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Custom styles for this template -->
     <link href="{% static 'album.css' %}" rel="stylesheet">
  </head>

  <body>


    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Volunteer Pickup Cards</h1>
          <p class="lead text-muted">Select a card from where you can easily pickup the food. Then select a shelter home from the list</a> where you will be delivering the food. Also, don't forget to fill this form.</p>
          
        </div>
      </section>
        
        
        <div class="container">
          <div class="row">
            {% for item in volunteer_arr %}
            <div class="col-md-4">
              <div class="w3-card-4">
                <header class="w3-container w3-light-grey">
                  <h3>{{item.name}}</h3>
                </header>
                <div class="w3-container">
                  <p>Address: {{item.address}}</p>
                  <hr>
                  <p>Contact: {{item.contact}}</p>
                  <hr>
                  <p>Type: {{item.type_of_donation}}</p>
                  <hr>
                  <p>Time: {{item.time_donate}}</p>
                  <hr>
                  <p>Date: {{item.date_donate}} </p>
                    <hr>
                  <p>Food for: {{item.food_for_donate}} people</p>
                    <small class="text-muted">{{item.counter}} interested</small>
                </div> 
              <form name="data_add_volunteer" action="upvoter/{{item.contact}}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="w3-button w3-block w3-dark-grey">Interested</button>
                </div>
              </form>
            </div>
              
     {% endfor %}       
      
        
          </div>
        </div>


    </main>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
  </body>

<!-- Mirrored from getbootstrap.com/docs/4.0/examples/album/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Apr 2019 10:41:04 GMT -->
</html>
