<!doctype html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Signin</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
   <form class="form-horizontal" action='' method="post" enctype="multipart/form-data">
   	
  <fieldset>
    <div id="legend">
      <legend class="">Register</legend>
    </div>
    <div class="control-group">
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
        
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
       
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label" for="password1">Password</label>
      <div class="controls">
        <input type="password" id="password1" name="password1" placeholder="" class="input-xlarge">
        
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label"  for="password2">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password2" name="password2" placeholder="" class="input-xlarge">
       
      </div>
    </div>
 
    <div class="control-group">
      <div class="controls">
          <br>
        <button class="btn btn-success">Register</button>
      </div>
    </div>
  </fieldset>
</form>
  
  </body> 


</html>
