<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'starter-template.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/render_volunteer_data">Volunteer's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/render_donator_data">Donator's</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/render_shelter_data_private">Shelter's</span></a>
          </li>
        </ul>
        
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>List of all Shelter's</h1>
        <p class="lead">People those who are willing to contribute their free time for the betterment of under-priviledged people so that no one sleep's hungry.</p>
      </div>


{% for item in arr %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOne">
         {{forloop.counter}}) {{item.name_hunger_spot}}
        </button>
      </h5>
    </div>


    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
            <div class="col-md-4">
              <h5 style="display: inline-block">Address:</h5>  {{item.address}}
            </div>
            <div class="col-md-4">
              <h5 style="display: inline-block">Pincode:</h5>  {{item.pincode}}
            </div>
            <div class="col-md-4">
                <h5 style="display: inline-block">Total People: </h5> {{item.total_benefitiaries}}
            </div>
            <div class="col-md-4">
               <h5 style="display: inline-block">Type of Shelter: </h5> {{item.type_shelter}}
            </div>
            <div class="col-md-4">
                <h5 style="display: inline-block">Do they accept raw food: </h5> {{item.raw_food}}
            </div>
            <div class="col-md-4">
                <h5 style="display: inline-block">Do they accept cooked food: </h5> {{item.cooked_food}}
            </div>
            <div class="col-md-4">
                <h5 style="display: inline-block">Preference: </h5> {{item.preference}}
            </div>
            <div class="col-md-4">
              <h5 style="display: inline-block">Time Range when food should be delivered:</h5>  {{item.time_range}}
            </div>
            <div class="col-md-4">
              <h5 style="display: inline-block">Do they accept heated food:</h5>  {{item.heat_food}}
            </div>
            <div class="col-md-4">
                <h5 style="display: inline-block">Do they have refrigerator: </h5> {{item.refrigerate_food}}
            </div>
            <div class="col-md-4">
               <h5 style="display: inline-block">Any External Support: </h5> {{item.external_support}}
            </div>
            <div class="col-md-4">
                <h5 style="display: inline-block">External Support from: </h5> {{item.support}}
            </div>
            <div class="col-md-4">
                <h5 style="display: inline-block">Registeration Status: </h5> {{item.reg_status}}
            </div>
            <div class="col-md-4">
                <h5 style="display: inline-block">Name of Incharge: </h5> {{item.name_incharge}}
            </div>
            <div class="col-md-4">
                <h5 style="display: inline-block">Contact Number: </h5> {{item.contact_incharge}}
            </div>
            <div class="col-md-4">
                <h5 style="display: inline-block">Email: </h5> {{item.email_incharge}}
            </div>
         
            
        </div>
      </div>
    </div>
  </div>
{% endfor %}


    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>

